








<%= form_with model: @todo, local: true do |f|%>



<div class="card text-white bg-dark mb-3 text-center" style="max-width: 18rem;">
  <div class="card-header"><%= f.label :description %></div>
  <div class="card-body">
    
   <%= f.text_field :description %>
    <%= f.submit 'Create' %>
  </div>
</div>
<%end %>